.components-container {
    display: flex;
    max-height: 476px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.components-heading {
    width: 411px;
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 28px;
    align-self: center;
}

.components-heading span {
    color: #FD9222;
}

.components-paragraph {
    width: 486px;
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    margin-bottom: 50px;
    align-self: center;
}

.components-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    flex-wrap: wrap;
}

.components-item {
    width: calc((100% - 57px) / 4);  
    display: block;
    padding: 28px 36px 28px 28px;
    border-radius: 15px;
    background: #FFF;
    border: 1px solid #FD9222;
    height: 270px;
    position: relative;
}


.components-item:nth-child(1) {
    background: #FD9222;
}

.components-item:nth-child(3) {
    background: #1E1823;
    border-color: #1E1823;
}

.components-item:nth-child(1) .components-img-paragraph,
.components-item:nth-child(3) .components-img-paragraph {
    color: #FFF;
}

.components-item:hover .components-description-container {
    display: block;
}

.components-img-paragraph {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
    align-self: flex-start;
}


.components-img-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.components-description-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 270px;
    min-height: 270px;
    padding: 20px;
    border-radius: 15px;
    background: #FFF;
    border: 1px solid #FFF;
    display: none;
}

.components-description-wrapper {
    display: flex;
    gap: 14px;
    flex-direction: column;
    width: 230px;
    height: 230px;
    align-items: center;
}
.components-description-heading {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    align-self: flex-start;
}

.components-description-title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: flex-start;
}

.components-description-span-container {
    display: inline-flex;
    gap: 6px;
    justify-content: flex-start;
}

.components-description-ingridients {
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 120% */
    border-radius: 35px;
    border: 1px solid #FD9222;
    background: #FD9222;
    padding: 6px 16px;
}

.components-description-benefits {
    color: #111;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 120% */
    border-radius: 35px;
    border: 1px solid #FD9222;
    background: #FAFAFA;
    padding: 6px 16px;
}

.components-description-paragraph {
    overflow: hidden;
    color: #111;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 230px;
    align-self: flex-start;
}