<section class="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-heading"><span>Chocolate</span> is Loved</h2>
    <div>
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-img-container">
            <div class="reviews-img-wrapper">
              <img src="/src/images/reviews-img1.jpg" width="80" height="80" alt="Natalia Sus"/>
            </div>
            <span class="reviews-img-name">Natalia Sus</span>
          </div>
          <div class="reviews-description-container"> 
            <p class="reviews-description-paragraph">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-container">
            <div class="reviews-img-wrapper">
              <img src="/src/images/reviews-img2.jpg" width="80" height="80" alt="Danilo Nottingham"/>
            </div>
            <span class="reviews-img-name">Danilo Nottingham</span>
          </div>
          <div class="reviews-description-container"> 
            <p class="reviews-description-paragraph">
              This is delicious. It so rich and flavorful you don&#39;t need to
              use as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-container">
            <div class="reviews-img-wrapper">
              <img src="/src/images/reviews-img3.jpg" width="80" height="80" alt="Irina Tydnyuk"/>
            </div>
            <span class="reviews-img-name">Irina Tydnyuk</span>
          </div>
          <div class="reviews-description-container"> 
            <p class="reviews-description-paragraph">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class
              :&rpar;
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-container">
            <div class="reviews-img-wrapper">
              <img src="/src/images/reviews-img4.jpg" width="80" height="80" alt="Victoria Dobrzhanska"/>
            </div>
            <span class="reviews-img-name">Victoria Dobrzhanska</span>
          </div>
          <div class="reviews-description-container"> 
            <p class="reviews-description-paragraph">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-container">
            <div class="reviews-img-wrapper">
              <img src="/src/images/reviews-img5.jpg" width="80" height="80" alt="Nazar Babenko"/>
            </div>
            <span class="reviews-img-name">Nazar Babenko</span>
          </div>
          <div class="reviews-description-container"> 
            <p class="reviews-description-paragraph">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-img-container">
            <div class="reviews-img-wrapper">
              <img src="/src/images/reviews-img6.jpg" width="80" height="80" alt="Olena Kampusch"/>
            </div>
            <span class="reviews-img-name">Olena Kampusch</span>
          </div>
          <div class="reviews-description-container"> 
            <p class="reviews-description-paragraph">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
      </ul>
      <div>
        
      </div>
    </div>
    <button type="button" class="reviews-btn">Leave a review</button>
  </div>
</section>
