<section class="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-heading"><span>Chocolate</span> is Loved</h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="swiper-container">
            <div class="reviews-img-container">
              <div class="reviews-img-wrapper">
                <img
                  src="/src/images/reviews-img1.jpg"
                  width="80"
                  height="80"
                  alt="Natalia Sus"
                />
              </div>
              <span class="reviews-img-name">Natalia Sus</span>
            </div>
            <div class="reviews-description-container">
              <p class="reviews-description-paragraph">
                The chocolate assortment was delicious. Both dark and milk
                chocolate pieces were smooth and just right on the sweetness
                level.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-container">
            <div class="reviews-img-container">
              <div class="reviews-img-wrapper">
                <img
                  src="/src/images/reviews-img2.jpg"
                  width="80"
                  height="80"
                  alt="Danilo Nottingham"
                />
              </div>
              <span class="reviews-img-name">Danilo Nottingham</span>
            </div>
            <div class="reviews-description-container">
              <p class="reviews-description-paragraph">
                This is delicious. It so rich and flavorful you don&#39;t need
                to use as many. I love topping an apple with almond butter and
                these chips for a snack.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-container">
            <div class="reviews-img-container">
              <div class="reviews-img-wrapper">
                <img
                  src="/src/images/reviews-img3.jpg"
                  width="80"
                  height="80"
                  alt="Irina Tydnyuk"
                />
              </div>
              <span class="reviews-img-name">Irina Tydnyuk</span>
            </div>
            <div class="reviews-description-container">
              <p class="reviews-description-paragraph">
                This is simply the best chocolate around, and I'm just thrilled
                to support a local company! Best local chocolate - world class
                :&rpar;
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-container">
            <div class="reviews-img-container">
              <div class="reviews-img-wrapper">
                <img
                  src="/src/images/reviews-img4.jpg"
                  width="80"
                  height="80"
                  alt="Victoria Dobrzhanska"
                />
              </div>
              <span class="reviews-img-name">Victoria Dobrzhanska</span>
            </div>
            <div class="reviews-description-container">
              <p class="reviews-description-paragraph">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-container">
            <div class="reviews-img-container">
              <div class="reviews-img-wrapper">
                <img
                  src="/src/images/reviews-img5.jpg"
                  width="80"
                  height="80"
                  alt="Nazar Babenko"
                />
              </div>
              <span class="reviews-img-name">Nazar Babenko</span>
            </div>
            <div class="reviews-description-container">
              <p class="reviews-description-paragraph">
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="swiper-container">
            <div class="reviews-img-container">
              <div class="reviews-img-wrapper">
                <img
                  src="/src/images/reviews-img6.jpg"
                  width="80"
                  height="80"
                  alt="Olena Kampusch"
                />
              </div>
              <span class="reviews-img-name">Olena Kampusch</span>
            </div>
            <div class="reviews-description-container">
              <p class="reviews-description-paragraph">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="pagination"></div>
      <button type="button" class="reviews-btn" data-modal-open>
        Leave a review
      </button>
    </div>

    <div data-modal class="backdrop is-hidden">
      <div class="modal">
        <svg
          class="reviews-modal-close"
          width="16"
          height="16"
          data-modal-close
        >
          <use href="/src/images/icons.svg#close"></use>
        </svg>
        <h2 class="reviews-modal-heading">
          LEAVE A REVIEW ABOUT <span>OUR CHOCOLATE</span>
        </h2>
        <form class="reviews-modal-form">
          <div class="reviews-form-group">
            <input
              type="text"
              id="name"
              name="name"
              class="reviews-modal-input"
              placeholder="Name"
            />
          </div>
          <div class="reviews-form-group">
            <input
              type="email"
              id="email"
              name="email"
              class="reviews-modal-input"
              placeholder="Email"
            />
          </div>
          <div class="reviews-form-group reviews-tel-group">
            <input
              type="tel"
              id="phone-number"
              name="phone-number"
              class="reviews-modal-input"
              placeholder="Phone number"
            />
            <div class="flag-number">
              <svg width="32" height="24">
                <use href="/src/images/icons.svg#flag"></use>
              </svg>
              <span class="country-code"> +380 </span>
            </div>
          </div>
          <textarea
            id="comment"
            name="comment"
            placeholder="Enter Text"
            class="reviews-modal-textarea"
          ></textarea>
          <button type="submit" class="reviews-modal-btn">Send</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 3,
      spaceBetween: 28,
      pagination: {
        el: '.pagination',
        clickable: true,
      },
    });
  </script>
  <script type="module" src="/src/modal.js"></script>
</section>
